.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin-top: 10px;
}

.register-form {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
}

.form-title {
  margin-bottom: 1rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #ff9800;  /* Promeni ovu boju prema potrebi */
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #e68900;  /* Promeni ovu boju prema potrebi */
}

.login-link {
  margin-top: 1rem;
  text-align: center;
}

.login-link a {
  color: #e68900;  /* Promeni ovu boju prema boji dugmeta */
  text-decoration: none;
  font-size: 0.875rem;
}

.login-link a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #e68900;
}
