<div *ngIf="company" class="company-details">
    <h1>{{ company.name }}</h1>
    <p>{{ company.description }}</p>
    <p>Address: {{ company.address.street }}, {{ company.address.city }}</p>
    <p>Average Rating: {{ company.averageRating }}</p>
    <p>Working Hours: {{ company.start }} - {{ company.end }}</p>
    <div>
      <strong>Equipment:</strong>
      <ul>
        <li *ngFor="let equipment of company.equipmentList" (click)="openModal(equipment)">
          {{ equipment.name }}: {{equipment.amount - equipment.reservedAmount}}
        </li>
      </ul>
    </div>
  </div>
  
  <div class="modal" *ngIf="showAppointments">
    <h2>Select an Appointment</h2>
    <ul>
      <li *ngFor="let appointment of availableAppointments">
        <p>Duration: {{ appointment.duration }} minutes</p>
        <p>Slot: {{ appointment.slot | date: 'short' }}</p>
        <label for="equipmentAmount">Equipment Amount:</label>
        <input id="equipmentAmount" type="number" [(ngModel)]="appointment.equipmentAmount">
        <button (click)="reserveAppointment(appointment)">Reserve</button>
      </li>
    </ul>
    <button (click)="closeModal()">Cancel</button>
  </div>
